<div class="form-container">
    <h1 class="title">Customise your car</h1>
    <p class="model" *ngIf="formData">{{ formData.details.model }}</p>
    <form (ngSubmit)="onSubmit()">
        <app-progressbar
        [currentValue]="currentTab+1"
        [maxValue]="totalTabs"></app-progressbar>
                
        <div class="formBtn-container">
            <button type="button" id="formPrevBtn" #formPrevBtn class="btn btn-outline-secondary" (click)="nextOrPrev(-1)">Previous</button>
            <input type="submit" value="Submit" id="formSubmitBtn" #formSubmitBtn class="btn btn-primary"/>
            <button  type="button" id="formNextBtn" #formNextBtn class="btn btn-navy" (click)="nextOrPrev(1)">Next</button>
        </div>

        <div>
            <app-custom-image
            [srcPath]="imgUrl"></app-custom-image>
        </div>
        
        <div *ngIf="bodyData && bodyData.length>0">
            <div class="tab" #tab>
                    <div *ngIf="formData">
                        <app-button-block 
                    [choices]="formData.body"
                    [groupName]="'selectedBody'"
                    [default]="formData.body[0]"
                    name="selectedBody"
                    (valueChosen)="selectBody($event)"
                    (currentDescription)="setBodyDescription($event)"
                    ></app-button-block>
                        <div class="displayDescription">{{bodyDescription}}</div>
                    </div>
            </div>
        </div>
        <div class="tab" #tab>
                <app-carousel 
                [carouselData]="formData? formData.grade : null"
                [groupName]="'selectedGrade'"
                name="selectedGrade"
                (chosenValue)="selectGrade($event)"
                ></app-carousel>
        </div>
        
        <div class="tab" #tab>
                <app-button-block 
                [choices]="formData? formData.drivetrain : null"
                [groupName]="'selectedDrivetrain'"
                [default]="formData.drivetrain[0]"
                name="selectedDrivetrain"
                (currentDescription)="setDrivetrainDesc($event)"
                (valueChosen)="selectDrivetrain($event)"
                ></app-button-block>
                <div class="displayDescription">{{driveTrainDescription}}</div>
        </div>
    <div class="tab" #tab>
            <app-button-block 
            [choices]="formData? formData.transmission : null"
            [groupName]="'selectedTransmission'"
            [default]="formData.transmission[0]"
            name="selectedTransmission"
            (valueChosen)="selectTransmission($event)"
            ></app-button-block>
    </div>

    <div class="tab" #tab> 
            <app-carousel 
            [carouselData]="formData? formData.engine : null"
            [groupName]="'selectedEngine'"
            [slides]="formData.engine.length"
            name="selectedEngine"
            (chosenValue)="selectEngine($event)"
            ></app-carousel>
    </div>
    
    <div class="tab" #tab>
            
            <app-exterior
            [exteriorData]="formData? formData.exterior : null"
            [groupName]="'selectedExterior'"
            [default]="formData.exterior[0]"
            name="selectedExterior"
            (selectedExterior)="selectExterior($event)">
        </app-exterior>
</div>

<div class="tab" #tab>
        <app-exterior
        [exteriorData]="formData? formData.interior : null"
        [groupName]="'selectedInterior'"
        [default]="formData.interior[0]"
        name="selectedInterior"
        (selectedExterior)="selectInterior($event)"></app-exterior>
</div>

<div class="tab" #tab>
        <app-exterior
        [exteriorData]="formData? formData.wheels : null"
        [groupName]="'selectedWheels'"
        [default]="formData.wheels[0]"
        name="selectedWheels"
        (selectedExterior)="selectInterior($event)"></app-exterior>
</div>




</form>

</div>
