<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <a routerLink="build/mazda3" class="menu-card">
                <img src="../../../assets/img/mazda3/mazda3_hatch_platinum.jpg" class="menu-img">
                <p>Mazda 3</p>
            </a>
        </div>
        <div class="col-md-6 col-lg-4">
            <a routerLink="build/cx-30" class="menu-card">
                <img src="../../../assets/img/cx-30/cx-30_red.jpg" class="menu-img">
                <p>CX-30</p>
            </a>
        </div>
        <div class="col-md-6 col-lg-4">
           
            <a routerLink="build/mazda6" class="menu-card"> 
                <img src="../../../assets/img/mazda6/mazda6_sedan_polymetal.jpg" class="menu-img">
                <p>Mazda 6</p>
            </a>
        </div>
    </div>
</div>