.radioBtnBlock{
    width:50%;
    display: inline-block;
}

.radioBtnBlock label{
    width:100%;
    
}

.radioBtnBlock .btn,
.radioBtnBlock input{
    width:inherit;
    height:38px;
    cursor: pointer;
}

[type=radio]{
    opacity: 0;
    position:absolute
}

input[type="radio"]:checked+button {
  background: navy;
  border-color: navy;
  color: white
}

.radioBtn_description{
    padding:20px;   
}

.hidden {
    visibility: hidden;
}